header {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

h1 {
    
        padding-left: 70%;
        margin-right: 20px; 
        font-size: 24px;

}
nav{
    padding-left: 70%;
    
}
li{
    display: inline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
